<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	    <system.webServer>
	    	<rewrite>
            <rules>



	<------ CUSTOM 404 PAGE----->
	
	<httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.php" responseMode="ExecuteURL" />
        </httpErrors>




	<---- Redirect https://mydomain.com to http://www.mydomain.com  ---->

            <rule name="Redirect http://mydomain.com to http://www.mydomain.com HTTP" patternSyntax="ECMAScript" stopProcessing="true">
              <match url=".*"></match>
                <conditions>
                  <add input="{HTTP_HOST}" pattern="^rubbish.com.au$"></add>
                  <add input="{HTTPS}" pattern="off"></add>
                </conditions>
              <action type="Redirect" url="http://www.rubbish.com.au/{R:0}" redirectType="Permanent" appendQueryString="true"></action>
            </rule>

        <rule name="remove index.asp from url" stopProcessing="true">
          <match url="^(.*\/)*index\.asp$" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_METHOD}" negate="true" pattern="^POST$" />
            </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent"/>
        </rule>
	
	
	


	<---- Canonical URL	Found	Fix it with .htaccess file. 
	      #http://www.vijaydrivinginstructor.com/index.php	
	      #http://www.vijaydrivinginstructor.com/default.aspx	
	      #By Using 301 redirect it should be redirected on http://www.vijaydrivinginstructor.com ---->
	
	
	<rule name="Default document rewrite" stopProcessing="true">
  	   <match url="(.*)index.php" />
  	   <action type="Redirect" url="{R:1}" redirectType="Permanent" />
	</rule> 

        <rule name="remove index.asp from url" stopProcessing="true">
          <match url="(.*)default.aspx" />
          <action type="Redirect" url="{R:1}" redirectType="Permanent"/>
        </rule>






         <----- Uppercase url to LowerCaseRule url ----->

        <rule name="Uppercase url to LowerCaseRule">
  					<match url="[A-Z]" ignoreCase="false"/>
  					<action type="Redirect" url="{ToLower:{URL}}"/>
				</rule>

            </rules>
        </rewrite>
    </system.webServer>

   <system.web>
    </system.web>

</configuration>
